.welcome-buttons {
	height: 3em;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3em;
	margin: 0.5em;
	color: white;
	background-color: blue;
}

.form-holder {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.submit-buttons {
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
	margin: 30px;
	color: white;
	background-color: blue;
}
