.Outer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Navigator {
    display: flex;
    flex-direction: row;
}

.Loans {
    display: flex;
    flex-direction: column;
}

.Loans img {
    width: 290px;
    height: 170px;
}